<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
  
  <a href="/reservation"><button>TICKET BOOKING</button></a>
  <a href="/cancellation"><BUTTon>TICKET CANCELLATION</BUTTon></a>
  <a href="/bookings"><BUTTon>SHOW ALL BOOKINGS</BUTTon></a>
</body>
</html>