<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm" action="http://localhost:3000/">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
            <p class="error-message" id="errorMessage"></p>
            <br>
            <br>
        <div class="register" >DO NOT HAVE ACCOUNT?<a href="http://127.0.0.1:5500/practices/register/reg.html"> CLICK ME</a></div>
        </form>
    </div>
    <script src="login.js"></script>
</body>
</html>