body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 50px;
  background-image: url(https://wallpaperaccess.com/full/1457240.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cancellation-container{
  width: 400px;
  height: 200px;
  border: 2px solid white;
  border-radius:5px ;
  background-color: rgba(243, 9, 9, 0.407);
}
h2{
  text-align: center;
  
}
.input-group{
  text-align: center;
}